{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Evaluations of:</h2>
                {% if user is defined %}
                <h2>{{ dump(user) }}</h2>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h2>Please select the Evaluation to participate:</h2>
                {% if evaluations is defined %}
                {% for evaluation in evaluations %}
                    <a href="{{ path('evaluationIntro', {'id': evaluation.id}) }}"
                       class="btn btn-default"
                       role="button">
                        {{ evaluation.name }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
<style>

</style>
{% endblock %}
