{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div id="video" class="centered_video_continuouse"></div>

    <div id="continuouseQoeSlider" class="centerFlex" style="display: none">
        <h4>Please rate your experience:</h4>
        <input id="ex2" data-slider-id='ex2Slider' type="text"/>
    </div>

    <div id="qoeSlider" class="centerFlex" style="display: none">
        <div class="row">
            <h3 id="rateText">Please rate the previous video:</h3>
            <div class="row">
                <input id="ex1" data-slider-id='ex1Slider' type="text"/>
            </div>
        </div>

    </div>

    {% if data is defined %}
        {{ dump(data) }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.css') }}" />
    <style>
        .centered_video  {
            padding: 5%;
            background: #AAAAAA;
        }

        .centered_video_continuouse  {
            padding-top: 2%;
            padding-right: 5%;
            padding-left: 5%;
            padding-bottom: 10%;
            background: #AAAAAA;
        }

        .centerFlex {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        
        #ex1Slider .slider-selection {
            background: #BABABA;
        }
        .slider.slider-horizontal {
            width: 100%;
            height: 20px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/fingerprint.js' )}}"></script>
    <script src="{{ asset('js/util.js') }}"></script>
    <script src="{{ asset('js/bootstrap-slider.js') }}"></script>

    <script>

        /* disable context menu (right mouse click) */
        document.oncontextmenu = document.body.oncontextmenu = function() {return false;}

        var evaluationId        = '{{ evaluation.id }}';
        var count               = '{{ contents|length }}';
        var evalContents        = {};
        var evalContentMetrics  = {};

        {% for content in contents %}

        evalContents['{{ content.name }}'] = {
            id:                 '{{ content.id }}',
            name:               '{{ content.name }}',
            path:               '{{ content.path }}',
            ordinance:          '{{ content.ordinance }}',
            playbackOffset:     '{{ content.playbackOffset }}',
            playbackDuration:   '{{ content.playbackDuration }}',
            ratingTime:         '{{ content.ratingTime }}',
            ratingLowerBound:   '{{ content.ratingLowerBound }}',
            ratingUpperBound:   '{{ content.ratingUpperBound }}'
        };
        {% endfor %}


    </script>

    {#/* check for eval type */#}

    {% if (evaluation.type ==  'ACR') or (evaluation.type == 'ACR-HR') %}

        <script src="{{ asset('js/VideoMetricsStruct.js') }}"></script>
        <script src="{{ asset('https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js') }}"></script>
        <script src="{{ asset('js/bdplayerACR.js') }}"></script>
        <script src="{{ asset('js/contentLoopACR.js') }}"></script>

    {% elseif (evaluation.type == 'DCR') or (evaluation.type == 'PC') %}

        <script src="{{ asset('js/VideoMetricsStruct.js') }}"></script>
        <script src="{{ asset('https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js') }}"></script>
        <script src="{{ asset('js/bdplayerDCR.js') }}"></script>
        <script src="{{ asset('js/contentLoopDCR.js') }}"></script>

    {% elseif (evaluation.type == 'DSIS') or (evaluation.type == 'DSCQS') %}

        <script src="{{ asset('js/VideoMetricsStructContinuousRating.js') }}"></script>
        <script src="{{ asset('https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js') }}"></script>
        <script src="{{ asset('js/bdplayerSSCQE.js') }}"></script>
        <script src="{{ asset('js/contentLoopSSCQE.js') }}"></script>

    {% endif %}

{% endblock %}



